name: "Cargo Check"

on:
  workflow_dispatch:
  # push:
  #   paths-ignore:
  #     - '.github/**'
  #     - 'examples/**'
  #     - 'docker/**'
  #     - 'test/**'
  #     - '*.md'
  #     - '.*'
  #     - '*.lock'
  #     - '.LICENSE'
  #   branches: [main, develop]
  pull_request:
    types: [opened, reopened]
    branches: [main, develop]
  
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Cargo Check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check
      run: cargo check
    - name: Clippy
      run: cargo clippy -- -D warnings
